/*stylesheet created by nick blanks*/
/* www.nicholasblanks.com */

body{
	margin:0px;
	padding:0px;
	font-family:Helvetica, sans-serif;
	background:#D6D1F0;
	}

.nickImage{
	width:300px;
	height:auto;
	text-align:center;
	margin: 10px auto;
}