/*stylesheet created by nick blanks*/
/* www.nicholasblanks.com */

body{
	margin:0px;
	padding:0px;
	font-family:Helvetica, sans-serif;
	background:#D6D1F0;
	}

.nickImage{
	width:300px;
	height:auto;
	text-align:center;
	margin: 10px auto;
}

.square{
	width:100%;
	height:40px;
	background:#C2CCC9;
	text-align:center;
	margin-top:10%;
	-webkit-transform: rotate(5deg);
    transform: rotate(5deg); 
}

.title{
	text-align:center;
	padding:0px;
	font-size:30px;
	font-family:Impact;
	vertical-align:middle;
}

a{
	text-decoration:none;
}